.postit {
    /*display:inline-block;*/    

    background: rgb(255, 255, 136); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%, rgba(255, 255, 136, 1)), color-stop(100%, rgba(255, 255, 214, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); /* IE10+ */
    background: linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%, rgba(255, 255, 214, 1) 100%); /* W3C */
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    border-top: 10px solid #fdfd86;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffff88', GradientType=0); /* IE6-9 fallback on horizontal gradient */
    font-family: 'Reenie Beanie';
    font-size: 22px;
    list-style: none;
    margin: 5px;
    max-height: 100px;
    min-height: 100px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 100px;
}

.columnHeads { border-bottom: 1px dashed #999; }

.columnHeads .column {
    color: #1B84C5;
    font-size: 14px;
    font-weight: bold;
    min-height: inherit;
    padding: 10px 0;
    padding-top: 0px;
    text-align: center;
}

.column { min-height: 280px; }

.column4 {
    float: left;
    width: 10%;
}

.taskBorder {
    -moz-background-clip: padding;
    -moz-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2F8FC), color-stop(100%, #E1EAEF)); /* webkit */
    background: -moz-linear-gradient(top, #F2F8FC 0%, #E1EAEF 100%); /* firefox */
    background: -o-linear-gradient(top, #F2F8FC 0%, #E1EAEF 100%); /* opera */
    background: -o-linear-gradient(top, #F2F8FC 0%, #E1EAEF 100%); /* opera */
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F8FC', endColorstr='#E1EAEF', GradientType=0); /* ie */
    margin-top: 22px;
    min-height: 30px;
    padding: 10px;
}

.connectedSortable { /*background-color: red;*/min-height: 280px; }

.row {
    border-bottom: 1px dashed #999;
    margin: 0px 0;
    padding: 15px;
}