@model MvcApplication22.Controllers.HomeIndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Boards</h2>

<table class="table table-striped">
@foreach (var board in Model.Boards)
{
<tr><td>@Html.ActionLink(board.Name,"board",new{id=board.Id})</td></tr>    
}
</table>