@using SyncKanban
@model SyncKanban.Controllers.HomeIndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Boards</h2>

<table class="table table-striped">
    @foreach (Board board in Model.Boards)
    {
        <tr><td>@Html.ActionLink(board.Name, "board", new {id = board.Id})</td></tr>
    }
</table>